.episodesBtn {
  font-size: 16px;
  font-family: 'BPG Mrgvlovani Caps 2010';
  padding: 9px 19px 6px;
  background-color: #0083ca;
  transition: opacity 0.2s ease 0s;
  position: absolute;
  top: 28px;
  right: 28px;
  opacity: 0;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.episodesBtn svg {
  margin-right: 15px;
}

.moviePlayer:hover .episodesBtn {
  opacity: 1;
}

.episodesWrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 318px;
  height: 434px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.2s ease 0s;
  z-index: 1;
}

.closeIcon {
  position: absolute;
  top: 29px;
  right: 26px;
  z-index: 1;
  cursor: pointer;
}

.seasonsContainer {
  position: absolute;
  bottom: 0px;
  transform: translateX(0);
  width: 100%;
  height: calc(100% - 72px);
  overflow: auto;
}

.seasonsContainer div {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  padding: 25px 46px;
  color: #fdfdfd;
  cursor: pointer;
}

.seasonsContainer div:hover,
.seasonEpisode:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.activeSeason {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.seasonTitle {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  width: 60%;
  height: 72px;
  padding-left: 26px;
  color: white;
  cursor: pointer;
}

.seasonTitle svg {
  margin-right: 22px;
}

.seasonEpisodes {
  height: calc(100% - 72px);
  position: relative;
  overflow-y: auto;
}

.seasonEpisode {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  padding: 8px 19px;
  color: #fdfdfd;
  cursor: pointer;
}

.episodeThumbnail {
  margin-right: 10px;
  position: relative;
}

.episodeThumbnail img {
  display: block;
  object-fit: cover;
  flex-shrink: 0;
  width: 90px;
  height: 60px;
}

.episodeThumbnail::after {
  content: attr(data-ep);
  display: block;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 3px 4px 1px;
  background-color: #525252;
  color: white;
}

.episodeDesc h5 {
  font-size: 14px;
  font-weight: 400;
  color: #fdfdfd;
}

.episodeDesc .episodeLanguages {
  display: flex;
}

.episodeDesc .episodeLanguages p {
  font-size: 12px;
  width: 43px;
  height: 23px;
  margin-right: 7px;
  padding: 6px 9px 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.activeLang {
  background: rgb(0, 131, 202) !important;
  color: white !important;
}

.loadingCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #1a90cf;
  background-color: transparent;
  animation: rotate 0.8s infinite;
  position: absolute;
  top: 40%;
  left: 40%;
}

.loadingCircle div {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: -25%;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
