.body {
  padding-bottom: 30px;
  background-color: var(--body-bg-color);
}

.fb-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 12px;
  margin: 0 auto;
  width: 1380px;
}

.fb-container a {
  display: block;
  margin-right: 12px;
  height: 21px;
  position: relative;
  top: 5px;
}

.fb-container svg {
  width: 20px;
  height: 20px;
}

.container {
  margin: 0 auto;
  width: 1380px;
}

@media only screen and (max-width: 1400px) {
  .body {
    padding-bottom: 20px;
    background-color: var(--body-bg-color);
  }

  .fb-container,
  .container {
    width: 980px;
  }
}

@media only screen and (max-width: 1000px) {
  .fb-container {
    width: calc(100vw - 28px);
    margin-bottom: 22px;
  }

  .container {
    width: calc(100vw - 28px);
  }

  .fb-container svg {
    width: 28px;
    height: 28px;
  }
}
